{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('vendor/css/adminlte.min.css')}}">

<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">

    <div class="row">
       <div class="col-12">
           <div  class=" p-3 mb-2 bg-color text-white" >
             <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
            <h3 class=" text-center titulo ">Mis Grupos Asignados</h3>
             
           </div>
           <!-- /.card-header -->
           <div class="card-body table-responsive p-0">
           Total records: {{pagination.getTotalItemCount}}
             <table class="table table-hover table-bordered">
               <thead>
                   <tr>
                     <th>Tipo</th>
                     <th>Nivel</th>
                     <th>Hora Inicio</th>
                     <th>Hora Fin</th>
                     <th>Salon</th>
                     <th>Actions</th>
                   </tr>
               </thead>
               <tbody>
               {% for grupo in pagination %}
                          <tr>
                             <td>{{ grupo.tipo }}</td>
                             <td>{{ grupo.nivel }}</td>
                             <td>{% if grupo.horario %}{{ grupo.horario|date(' H:i:s') }}{% endif %}</td>
                             <td>{% if grupo.horarioFin %}{{ grupo.horarioFin|date(' H:i:s') }}{% endif %}</td>
                             <td>{{ grupo.salon }}</td>

                               <td>
                                    <a href="{{ path('grupo_show', { 'id': grupo.id }) }}" > <img src="{{asset('vendor/imagenes/ver.ico')}}" title="Ver Estudiantes" alt="Ver" class="ico"></a> 
                                    <a href="{{ path('grupo_listadoGrupo', { 'id': grupo.id }) }}" > <img src="{{asset('vendor/imagenes/list-user.png')}}" title="Lista de Alumnos" alt="Ver" class="ico"></a>
                                    <a href="{{ path('evaluacion_new') }}" > <img src="{{asset('vendor/imagenes/exam.png')}}" title="Crear Evaluaciones" alt="Editar" class="ico"></a>

                               </td>
                         </tr>
               {% endfor %}
               </tbody>
             </table>
             <div class="navigation">
                {{ knp_pagination_render(pagination) }}
             </div>
       </div>
     </div><!-- /.row -->
    </div><!-- /.container-fluid -->

  </div>
</div>
{% endblock %}