{% extends 'base.html.twig' %}

{% block body %}
  <div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
    <div class="containers">
      <!-- /.card-header -->
      <div class=" p-3 mb-2  bg-color ">
         <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
        <div class="card-body ">
          <h1 class=" text-center titulo text-white">Creación de Grupo</h1>
        </div>
      </div>

      {% if docenteOcupado == true and horariosEstanBien == true%}
        <p class="bg-danger text-white" >El docente {{grupo.coach}} ya tiene un grupo de {{ grupo.horario|date(' H:i:s') }} a {{ grupo.horarioFin|date(' H:i:s') }}</p>
      {% endif %}

      {% if horariosEstanBien == false %}
        <p class="bg-danger text-white" >La hora de inicio del grupo no debe ser igual o mayor que la hora fin de este</p>
      {% endif %}

      <div class="card-body">

        {{form_start(form, { 'attr' : {'role' : 'form' }})}}
        <h3 class="card-title">Datos De Grupo</h3>
        <br>
        <!-- text input -->


        <!--************************* cursos: ingles/frances *********************************-->

        <div class="row">
          <div class="col-sm-3 col-md-6 col-lg-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-id-card"></i></span>
              </div>
              {{ form_widget(form.tipo, { 'attr' : {'type' : 'text','onkeypress' : 'return soloLetras(event)', 'class': 'form-control', 'placeholder' : 'Tipo de curso', 'onpaste' : 'return false'}})}}
              <!-- text input <input type="text" onkeypress="return soloLetras(event)" onpaste="return false" class="form-control" placeholder="Nombres">-->
            </div>
          </div>


          <!-- ************************ hora inicio **************************************** -->

          <div class="col-sm-3 col-md-4 col-lg-6">
            <div class="bootstrap-timepicker">
              <!-- <div class="form-group row">
                <label for="example-time-input" class="col-2 col-form-label">Hora Inicio</label>
                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                <div class="col-8">
                  <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                </div>
              </div>-->

              <div class="input-group-append">
                <label for="example-time-input" class="col-3 col-form-label">Hora Inicio</label>
                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                {{ form_widget(form.horario, { 'attr' : {'type' : 'time', 'value' : '13:45:00', 'id' : 'example-time-input', 'class' : 'form-control'}})}}
                <!--<input type="text" class="form-control" data-inputmask="'mask': ['9999-999999-999-9', '99999999-9' ]" data-mask placeholder="DUI, menor de edad NIT">-->
              </div>
              <!-- /.input group -->
            </div>
          </div>
        </div>

        <!-- *************************************Nivel : basico/intermedio/avanzado************************* -->

        <div class="row">
          <div class="col-sm-3 col-md-4 col-lg-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-spinner"></i></span>
              </div>
              {{ form_widget(form.nivel, { 'attr' : {'type' : 'text', 'class': 'form-control', 'placeholder' : 'Nivel', 'onpaste' : 'return false'}})}}
              <!-- <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="Fecha de nacimientos">-->
            </div>
          </div>
          <!-- ******************************Hora fin************************ -->

          <div class="col-sm-3 col-md-4 col-lg-6">
            <div class="bootstrap-timepicker">
              <div class="input-group-append">
                <label for="example-time-input" class="col-3 col-form-label">Hora Fin</label>
                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                {{ form_widget(form.horarioFin, { 'attr' : {'type' : 'time', 'value' : '13:45:00', 'id' : 'example-time-input', 'class' : 'form-control'}})}}
                <!--<input type="text" class="form-control" data-inputmask="'mask': ['9999-999999-999-9', '99999999-9' ]" data-mask placeholder="DUI, menor de edad NIT">-->
              </div>

             <!-- <div  class="md-form">
  <input type="text" id="manual-operations-input" class="form-control" placeholder="Now">
  <label for="form1" class="">Check the minutes</label>
</div>

              <div class="md-form">
  <input type="text" class="form-control timepicker" placeholder="Now">
  <label for="form1" class="">Check the minutes</label>
</div>-->
              <!-- /.input group -->
            </div>
          </div>
        </div>    

        <!-- ******************************* Salon***************************************** -->
        <div class="row">
          <div class="col-sm-3 col-md-4 col-lg-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-group"></i></span>
              </div>
              {{ form_widget(form.salon, { 'attr' : {'type' : 'email', 'class': 'form-control', 'placeholder' : 'Salon'}})}}
              <!--<input type="email" class="form-control" placeholder="Email">-->
            </div>
          </div>

          <!-- ********************************* recupera el usuario ***************** -->
                    
          <div class="col-sm-3  col-md-4 col-lg-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              {{ form_widget(form.coach, { 'attr' : {'class': 'form-control'}})}}
            </div>
          </div>
        </div>                                                 
        
        <!-- ***************************** Modalidad ********************************* -->
        
        <div class="row">
          <div class="col-sm-3 col-md-4 col-lg-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-group"></i></span>
                </div>
                {{ form_widget(form.modalidad, { 'attr' : {'type' : 'email', 'class': 'form-control', 'placeholder' : 'Salon'}})}}
                <!--<input type="email" class="form-control" placeholder="Email">-->
              </div>
            </div>                    
          </div>
        </div>  
      </div>
    </div>
  </div>
<br> <br>
  <div class="card-body">
    <div class="row justify-content-between">
      <div class="col-md-2 offset-md-7">
        <td>
          <button type="submit" class="btn btn-block btn-primary fa fa-check">&nbsp; Aceptar</button>
        </td>
      </div>
      <div class="col-md-2 ">
        <td>
          <a href="{{ path('grupo_index') }}"><button type="button" class="btn btn-block btn-danger fa fa-close">&nbsp; Cancelar</button></a>
        </td>
      </div>
      {{form_end(form)}}

    </div>
  </div>
{% endblock %}
