{% extends 'base.html.twig' %}

{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript">
    function obtenerGrupos(){
            var id = document.getElementById("cursos").value;
            $.ajax({
                data : {'id':id},
                url: "{{ url('estudiante_ajax') }}",
                type: 'POST',
                dataType:'json',
                success: function(data){
                    var html = ""
                    for(var i = 0; i<data.length ; i++){
                    html += '<option value="'+data[i].ids+'">'+data[i].hora+' - '+ data[i].horaFin+' - ' +data[i].modalidad+'</option>'
                }
                    $('#academia_inscripcionbundle_estudiante_grupos').html(html);
                }

            });
        }
          $('#cursos').onchange(obtenerGrupos());
</script>
{% endblock %}

{% block body %}

<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
      <div class="p-3 mb-2 bg-color text-white ">
                 <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
    <div class="titulo">
      <center><h1>Edición de Alumno</h1></center>
    </div>
    </div>
    <div class="card-body">
      {{form_start(edit_form, { 'attr' : {'role' : 'form' }})}}
               <h3 class="card-title">Informacion Personal</h3>
               <br>
               <!-- text input -->
               <div class="row">
                  <div class="col-sm-3 col-md-6 col-lg-12">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                      </div>
                      {{ form_widget(edit_form.nombre, { 'attr' : {'type' : 'text','onkeypress' : 'return soloLetras(event)', 'class': 'form-control', 'placeholder' : 'Nombre Completo', 'onpaste' : 'return false'}})}}
                     <!-- text input <input type="text" onkeypress="return soloLetras(event)" onpaste="return false" class="form-control" placeholder="Nombres">-->
                    </div>
                   </div>
               </div>
               <div class="row">
                 <div class="col-sm-3 col-md-4 col-lg-6">
                   <div class="input-group mb-3">
                     <div class="input-group-prepend">
                       <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                     </div>
                       {{ form_widget(edit_form.edad, { 'attr' : {'type':'number', 'class':'form-control', 'onkeypress':'return isNumberKey(event)', 'placeholder':'Edad', 'onpaste' :'return false', 'min':'15', 'max':'100'}})}}
                   </div>
                   </div>
                   <div class="col-sm-3 col-md-4 col-lg-6">
                     <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-address-card-o"></i></span>
                          </div>
                          {{ form_widget(edit_form.dui, { 'attr' : {'type' : 'text','data-inputmask' : "'mask' : ['99999999-9', '9999-999999-999-9']",'data-mask':'', 'class': 'form-control', 'placeholder' : 'DUI, menor de edad NIT (Agregue los guiones)', 'onpaste' : 'return false'}})}}
                          <!--<input type="text" class="form-control" data-inputmask="'mask': ['9999-999999-999-9', '99999999-9' ]" data-mask placeholder="DUI, menor de edad NIT">-->
                        </div>
                 </div>
               </div>
       <div class="row">
          <div class="col-sm-3 col-md-4 col-lg-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
              {{ form_widget(edit_form.email, { 'attr' : {'type' : 'email', 'class': 'form-control', 'placeholder' : 'Email'}})}}
              <!--<input type="email" class="form-control" placeholder="Email">-->
            </div>
          </div>
          <div class="col-sm-3  col-md-4 col-lg-6">
            <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fa fa-phone"></i></span>
                 </div>
                 {{ form_widget(edit_form.telefono, { 'attr' : {'type' : 'text','data-inputmask' :"'mask': ['9999-9999', '(+999) 9999-9999']", 'data-mask' : '', 'class': 'form-control', 'placeholder' : 'Telefono (agregar extencion antepone un +)', 'onpaste' : 'return false'}})}}
                 <!--<input type="text" class="form-control"  data-inputmask="'mask': [ '(+999) 9999-9999','9999-9999']" data-mask placeholder="Numero de contacto">-->
               </div>
          </div>
        </div>


    </div>
  </div>
</div>
<div class="content-wrapper card">
  <div class="containers">
      <div class="card-body">
      <div class="row">
         <div class="col-lg-4">
                <h3 class="card-title">Cursos</h3>
                <br>
                    <select class="form-control" id="cursos" onchange="obtenerGrupos();">
                      <option>Elige un curso</option>
                      <option value="Ingles">Ingles</option>
                      <option value="Frances">Frances</option>
                      </select>
            </div>
         <div class="col-lg-4">
             <h3 class="card-title">Grupos</h3>
             <br>
                {{form_widget(edit_form.grupos, {'attr' : {'class' : 'form-control', 'multiple' : ''}})}}
            </div>
            <script type="text/javascript">   
                   $('#academia_inscripcionbundle_estudiante_grupos').html("Elige un curso");/*Sirve para que no se carguen todos los horarios ya sea de ingles o frances al cargar la pag*/
            </script>
          </div>
          <hr>
          <br>
          <div class="row justify-content-between">
            <div class="col-md-6"></div>
            <div class="col-md-2">
              <td>
                <button type="submit" class="btn btn-block btn-success fa fa-check">&nbsp; Aceptar</button>
              </td>
            </div>
            <div class="col-md-2">
              <td>
                <a href="{{ path('estudiante_show',{ 'id': estudiante.id }) }}"><button type="button" class="btn btn-block btn-info fa fa-hand-o-right">&nbsp;Cambios</button></a>
              </td>
            </div>

              <div class="col-md-2">
                <td>
                  <a href="{{ path('estudiante_index') }}"><button type="button" class="btn btn-block btn-danger fa fa-close">Cancelar</button></a>
                </td>
              </div>
              {{form_end(edit_form)}}

          </div>
         </div>
       </div>
    </div>
  </div>

{% endblock %}
