{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
  <div class="p-3 mb-2 bg-color text-white">
             <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
    <h1 class="text-center titulo">Estudiante</h1>
      </div>
      <div class="card-body">
       <ul class="list-group">
        <li class="list-group-item"> <b> INFORMACION DEL ESTUDIANTE</b></li>
  <li class="list-group-item"><b>NOMBRE:</b>&nbsp;&nbsp;{{ estudiante.nombre }}</li>
    <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>EDAD:</b> &nbsp;&nbsp;{{ estudiante.edad }} años</li>
    <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>DUI:</b> &nbsp;&nbsp;{{ estudiante.dui }}</li>
  <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TEL:</b> &nbsp;&nbsp;{{ estudiante.telefono }}</li>
  <li class="list-group-item">&nbsp;&nbsp;<b>CORREO:</b> &nbsp;&nbsp;{{ estudiante.email }}</li>
  <li class="list-group-item p-3 mb-2 bg-info text-white"> <b> INFORMACION DEL CURSO</b></li>
  <li class="list-group-item">
      {% for grupo in estudiante.grupos %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TIPO:</b>&nbsp;&nbsp; {{ grupo.tipo}}
      <br>
      {% endfor %}
      </li>
  <li class="list-group-item">
      {% for grupo in estudiante.grupos %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NIVEL:</b> &nbsp;&nbsp;{{ grupo.Nivel}}
      <br>
      {% endfor %}
      </li>
  <li class="list-group-item">
      {% for grupo in estudiante.grupos %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>SALON:</b>&nbsp;&nbsp; {{ grupo.salon}}
      <br>
      {% endfor %}
      </li>
   <li class="list-group-item">
      {% for grupo in estudiante.grupos %}
      <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INICIA:</b> &nbsp;&nbsp;{{ grupo.horario|date(" H:i:s")}}
      <br>
      {% endfor %}
      </li>
      <li class="list-group-item">
         {% for grupo in estudiante.grupos %}
         <b>FINALIZA:</b> &nbsp;&nbsp;{{ grupo.horarioFin|date(" H:i:s")}}
         <br>
         {% endfor %}
         </li>
</ul>
<br>
<hr>
<div class="row justify-content-between">
    <div class="col-md-2 offset-md-6">
      <td>
        <br><br><br><br>
        <a href="{{ path('estudiante_index') }}"><button type="submit" class="btn btn-block btn-primary  fa fa-check">&nbsp; Aceptar</button></a>
      </td>
    </div>
    <div class="col-md-2 ">
      <td>
        <br><br><br><br>
      <a href="{{ path('estudiante_edit', { 'id': estudiante.id }) }} "  class="btn btn-block btn-info fa fa-edit">&nbsp; Editar</a>
    </td>
    </div>
    <div class="col-lg-2">
      <br><br><br><br>
      {{ form_start(delete_form) }}
          <button type="submit"  class="btn btn-block btn-danger fa fa-close">&nbsp; Eliminar</button>
      {{ form_end(delete_form) }}
    </div>
  </div>
  <br>
  </div>
  </div>
</div>
{% endblock %}
