<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BeFluent{% endblock %}</title>

        <link rel="stylesheet" href="{{asset('vendor/css/adminlte.min.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/css/mystyle.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/plugins/iCheck/flat/blue.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/plugins/morris/morris.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/plugins/jvectormap/jquery-jvectormap-1.2.2.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/plugins/datepicker/datepicker3.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/plugins/daterangepicker/daterangepicker-bs3.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/plugins/datatables/dataTables.bootstrap4.min.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700')}}">
        <link rel="stylesheet" href="{{asset('https://use.fontawesome.com/releases/v5.3.1/css/all.css')}}" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/css/mdb.min.css')}}" />
        <link rel="stylesheet" href="{{asset('vendor/plugins/timepicker/bootstrap-timepicker.min.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/plugins/timepicker/bootstrap-timepicker.css')}}">
        <style media="screen">


          li {list-style-type: none;}
        </style>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('sigaabef.ico') }}" />
    </head>
    <body onload="menuDesplegar()">
     <aside class="main-sidebar sidebar-dark-primary elevation-4">
       <a href="#" class="brand-link">
       <img src="{{asset('sigaabef.png')}}" alt="befluent" class="brand-image img-circle elevation-3" style="opacity: .8">
       <span class="brand-text font-weight-light">BeFluent</span>
      </a>


   <!-- Sidebar -->
   <div class="sidebar">
     <!-- Sidebar user panel (optional) -->
     <div class="user-panel mt-2 pb-2 mb-2 d-flex">
       <div class="image">
         <img src="{{asset('sigaabef.png')}}" class="img-circle elevation-2" alt="User Image">
       </div>

      <a href="{{path('academiainscripcion_homepage')}}" title="Home"> <div class="info text-white">
       {% if app.user.role == 'ROLE_ADMIN' %}
                {{ 'Administrador'|trans }}
            {% elseif app.user.role == 'ROLE_USER' %}
                {{ 'Profesor'|trans }}
            {% elseif app.user.role == 'ROLE_RECEP' %}
                {{ 'Recepcionista'|trans }}
            {% endif %}
       </div>
       </a>
     </div>

     <!-- Sidebar Menu -->
     <nav class="mt-2">
     {# solamente si el usuario logueado es un administrador mostrara todo lo que esta dentro del if#}
     {% if is_granted('ROLE_ADMIN') %}
       <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!--Navegacion de ususarios-->
         <li class="nav-item">
           <a href="{{path('usuario_index')}}" class="nav-link">
             <i class="nav-icon fa fa-user"></i>
             <p>Usuarios
             <i class="fa fa-angle-left right"></i></p>
           </a>
           <ul  class="nav nav-treeview">
             <li class="nav-item">
               <i class="nav-icon fas fa-users-cog" style="color:white; opacity: 0.8;"></i>
               <a href="{{path('usuario_consultaUsuarioAdmin')}}">Administrador</a>
             </li>
             <li class="nav-item">
               <i class="nav-icon fas fa-chalkboard-teacher" style="color:white; opacity: 0.8;"></i>
               <a href="{{path('usuario_consultaUsuarioDocente')}}">Docentes</a>
             </li>
             <li class="nav-item">
               <i class="nav-icon fas fa-user-alt" style="color:white; opacity: 0.8;"></i>
               <a href="{{path('usuario_consultaUsuarioRecepcionista')}}">Recepcionistas</a>
             </li>
           </ul>
         </li>
         <!--Navegacion de Grupos-->
         <li class="nav-item has-treeview toc-entry toc-h2">
           <a href="#" class="nav-link">
             <i class="nav-icon fa fa-group"></i>
             <p>Grupo
             <i class="fa fa-angle-left right"></i>
             </p>
           </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <i class="nav-icon fab fa-etsy" style="color:white; opacity: 0.8;"></i>
                <a href="{{path('grupo_consultaIngles')}}">Inglés</a>
              </li>
            <ul>
              <li class="nav-item">
                <i class="nav-icon fas fa-battery-empty " style="color:white; opacity: 0.8;"></i>
                <a href="{{path('grupo_consultaInglesBasico')}}">Básico</a>
              </li>
              <li class="nav-item">
                <i class="nav-icon fas fa-battery-half" style="color:white; opacity: 0.8;"></i>
                <a href="{{path('grupo_consultaInglesIntermedio')}}">Intermedio</a>
              </li>
              <li class="nav-item">
                <i class="nav-icon fas fa-battery-full" style="color:white; opacity: 0.8;"></i>
                <a href="{{path('grupo_consultaInglesAvanzado')}}">Avanzado</a>
              </li>
            </ul>
              <li class="nav-item">
                <i class="fas fa-map-pin nav-icon" style="color:white; opacity: 0.8;"></i>
                <a href="{{path('grupo_consultaFrances')}}">Francés</a>
              </li>
              <ul>
                <li class="nav-item">
                  <i class="nav-icon fas fa-battery-empty" style="color:white; opacity: 0.8;"></i>
                  <a href="{{path('grupo_consultaFrancesBasico')}}" >Básico</a>
                </li>
                <li class="nav-item">
                  <i class="nav-icon fas fa-battery-half" style="color:white; opacity: 0.8;"></i>
                  <a href="{{path('grupo_consultaFrancesIntermedio')}}" >Intermedio</a>
                </li>
                <li class="nav-item">
                  <i class="nav-icon fas fa-battery-full" style="color:white; opacity: 0.8;"></i>
                  <a href="{{path('grupo_consultaFrancesAvanzado')}}" >Avanzado</a>
                </li>
              </ul>
            </ul>
         </li>

         <li class="nav-item has-treeview">
           <a href="{{path('estudiante_index')}}" class="nav-link">
             <i class="nav-icon fa fa-edit"></i>
             <p>
               Inscripcion
               <i class="fa fa-angle-left right"></i>
             </p>
           </a>
         </li>
         {#
         <li class="nav-item has-treeview">
           <a href="{{path('docente_index')}}" class="nav-link">
             <i class="fas fa-chalkboard-teacher nav-icon"></i>
             <p>
               Docentes
               <i class="fa fa-angle-left right"></i>
             </p>
           </a>
         </li>
         #}
        </ul>
      {% endif %}

      {# solamente los usuarios de tipo profesor veran lo que esta en este if #}
      {% if is_granted('ROLE_USER') %}
        <li class="nav-item  has-treeview toc-entry toc-h2">
           <a href="{{path('grupo_misgrupos')}}" class="nav-link">
            <p><i class="nav-icon fa fa-group"></i>
             Mis Grupos
             <i class="fa fa-angle-left right"></i>
             </p>
           </a>
         </li>
      {% endif %}

      {# solamente los usuarios de tipo recepcionista veran lo que esta en este if #}
      {% if is_granted('ROLE_RECEP') %}
        <li class="nav-item  has-treeview">
           <a href="{{path('estudiante_index')}}" class="nav-link">
             <i class="nav-icon fa fa-group"></i>
             <p>Inscripcion
             <i class="fa fa-angle-left right"></i>
             </p>
           </a>
         </li>

      {% endif %}


     </nav>
   </div>
 </aside>


        {% block body %}{% endblock %}

        <script>
  $.widget.bridge('uibutton', $.ui.button);
</script>


        <script src="{{asset('vendor/plugins/datatables/dataTables.bootstrap4.min.js')}}"></script>
        <script src="{{asset('vendor/plugins/jquery/jquery.slim.min.js')}}"></script>
        <script src="{{asset('vendor/plugins/jquery/jquery.min.js')}}"></script>
        <script src="{{asset('vendor/plugins/jQueryUI/jquery-ui.min.js')}}"></script>
        <script src="{{asset('vendor/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('vendor/plugins/select2/select2.full.min.js')}}"></script>
        <script src="{{asset('vendor/plugins/input-mask/jquery.inputmask.js')}}"></script>
        <script src="{{asset('vendor/plugins/input-mask/jquery.inputmask.date.extensions.js')}}"></script>
        <script src="{{asset('vendor/plugins/input-mask/jquery.inputmask.extensions.js')}}"></script>
        <script src="{{asset('vendor/plugins/daterangepicker/daterangepicker.js')}}"></script>
        <script src="{{asset('vendor/plugins/colorpicker/bootstrap-colorpicker.min.js')}}"></script>
        <script src="{{asset('vendor/plugins/timepicker/bootstrap-timepicker.min.js')}}"></script>
        <script src="{{asset('vendor/plugins/timepicker/bootstrap-timepicker.js')}}"></script>
        <script src="{{asset('vendor/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
        <script src="{{asset('vendor/plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('vendor/plugins/iCheck/icheck.min.js')}}"></script>
        <script src="{{asset('vendor/plugins/fastclick/fastclick.js')}}"></script>
        <script src="{{asset('vendor/jquery/myScript.js')}}"></script>
        <script src="{{asset('vendor/js/adminlte.min.js')}}"></script>
        <script src="{{asset('vendor/js/pages/dashboard.js')}}"></script>
        <script src="{{asset('vendor/js/demo.js')}}"></script>
        <script src="{{asset('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js')}}"></script>
        <script src="{{asset('https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/js/mdb.min.js')}}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
