{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
           <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
    <h1 class="text-center  p-3 mb-2 bg-color text-white">EVALUACION</h1>
    <ul class="list-group">
      <li class="list-group-item p-3 mb-2 bg-info text-white"> <b> INFORMACION DE LA EVALUACION</b></li>
  <li class="list-group-item">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NOMBRE:</b>        &nbsp;&nbsp;{{ evaluacion.nombre }}</li>
    <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>EVALUACION:</b> &nbsp;&nbsp;&nbsp;{{ evaluacion.ponderacion }} </li>
   

</ul>
<div class="row justify-content-between">
    <div class="col-md-2 offset-md-6">
      <td>
        <br><br><br><br>
         <a href="{{ path('evaluacion_show', { 'id': grupoDeEvaluacion.id }) }}"><button type="submit" class="btn btn-block btn-success fa fa-check">&nbsp; Aceptar</button></a>
      </td>
    </div>
    <div class="col-md-2 ">
      <td>
        <br><br><br><br>
    </td>
    </div>
    <div class="col-lg-2">
      <br><br><br><br>
      {{ form_start(delete_form) }}
          <button type="submit" class="btn btn-block btn-danger fa fa-close">&nbsp; Eliminar</button>
      {{ form_end(delete_form) }}
    </div>
  </div>
  <br>
  </div>
</div>
{% endblock %}
