{% extends 'base.html.twig' %}

{% block stylesheets %}
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" >
    var n1=0;
    var n2=0;
    var n3=0;
    var aux=0;
    ids=[];
   //var total=0;

 function obtenerTotal(id,x,idGrupo){
   
          /*  for (var i = 0; i < x; i++) {     
           name= document.getElementsByName(id)[0].value;
           //total=parseInt(name)+total;
           id++;
       }*/
       var idConvertido=parseInt(idGrupo)
       if(aux==0){
       $.ajax({
        data:{'id':idConvertido},
        url:"{{url('evaluacion_ajax')}}",
        type: 'POST',
        dataType:'json',
        success: function(data){
            var total=0;
            var nuevoDato;
            for (var i = 0; i < data.length; i++) {
                nuevoDato=document.getElementsByName(data[i].id)[0].value;
                total=total+parseInt(nuevoDato);
                ids[i]=data[i].id;
            }
            totalInput.value=total;
            aux++;
        }
       });
     }else{
      total=0;
      for (var o = 0; o < ids.length; o++) {
           nuevoDato=document.getElementsByName(ids[o])[0].value;
        total=total+parseInt(nuevoDato);
        
      }
      totalInput.value=total;
     }
    }

 function obtenerId(id){
    i++;
    n1=id;
    alert(n1);
 }
</script>

{% endblock %}

{% block body %}
   <div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
           <div class=" p-3 mb-2 bg-color text-white" >
                     <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
             <center><h3 class="titulo">Evaluaciones del grupo </h3></center>

             </div>
             {{form_start(editForm, { 'attr' : {'role' : 'form' }})}}
           </div>
           <div class="card-body  table-responsive p-0">
             <table class=" table table-hover table-bordered">
               <thead>
                   <tr>
                     <th>Nombre</th>
                     <th>Ponderacion %</th>
                     <th>Grupo</th>

                   </tr>
               </thead>
               <tbody>

                {% for evaluacions in evaluaciones %}
                   <tr>
                       <td><input type="text" name="{{evaluacions.nombre}}{{evaluacions.id}}" value="{{ evaluacions.nombre }}"></td>
                       <td><input type="number" name="{{evaluacions.id}}" value="{{ evaluacions.ponderacion }}" max="100" min="0" onload="obtenerId();" onchange="obtenerTotal({{evaluacions.id}},{{tamaño}},{{evaluacions.idGrupo.id}});"></td>
                       <td>{{ evaluacions.idGrupo }} </td>
                       <td>
                                <a href="{{ path('evaluacion_edit', { 'id': evaluacions.id }) }}"> <img src="{{asset('vendor/imagenes/ver.ico')}}" alt="Ver" class="ico"></a>
                       </td>
                   </tr>
                {% endfor %}
                <tr>
                    <td >Total</td>
                    <td id="total"><input id="totalInput" type="number" max=100 min=100</td>
                </tr>

                </script>
               </tbody>
             </table>

             <hr>
             <div class="col-md-2 offset-md-8">
                  <button type="submit" class="btn btn-block btn-success fa fa-edit">&nbsp;Editar</button>
                  <a href="{{ path('grupo_index') }} "  class="btn btn-block btn-danger fa fa-check ">&nbsp; Regresar</a>
              </div>
                <hr>

           </div>


           {{form_end(editForm)}}
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->



{% endblock %}