{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
    <div class="containers">
          <div class=" p-3 mb-2 bg-color text-white ">
                     <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
          <center><h3 class="titulo"><strong>Edicion de Usuario</strong></h3></center>
        </div>
        <div class="card-body">
          {{form_start(edit_form, { 'attr' : {'role' : 'form' }})}}
                   <h3 class="card-title"><strong>Información Personal</strong> </h3>
                   <br>

                   <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                          </div>
                          {{ form_widget(edit_form.nombre, { 'attr' : {'type' : 'text','onkeypress' : 'return soloLetras(event)', 'class': 'form-control', 'placeholder' : 'Nombre Completo', 'onpaste' : 'return false'}})}}
                          <!--, 'disabled':''-->
                        </div>
                       </div>
                   </div>
                   <div class="row">
                     <div class="col-sm-6 col-md-6 col-lg-6">
                       <div class="input-group mb-3">
                         <div class="input-group-prepend">
                           <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                         </div>
                           {{ form_widget(edit_form.username, { 'attr' : {'type':'text', 'class':'form-control' , 'placeholder':'username', 'onpaste' :'return false', 'min':'18', 'max':'100', 'onpaste' : 'return false'}})}}
                       </div>
                       </div>
                       <div class="col-sm-6 col-md-6 col-lg-6">
                         <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-address-card-o"></i></span>
                              </div>
                              {{ form_widget(edit_form.password, { 'attr' : {'type' : 'text','class': 'form-control', 'placeholder' : 'password', 'onpaste' : 'return false'}})}}
                            </div>
                     </div>
                   </div>
                       <div class="row">
                          <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                              </div>
                              {{ form_widget(edit_form.email, { 'attr' : {'type' : 'email', 'class': 'form-control', 'placeholder' : 'Email'}})}}
                            </div>
                          </div>
                          <div class="col-sm-6  col-md-6 col-lg-6">
                            <div class="input-group mb-3">
                                 <div class="input-group-prepend">
                                   <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                 </div>
                                 {{ form_widget(edit_form.role, { 'attr' : {'type' : 'text', 'data-mask' : '', 'class': 'form-control', 'onpaste' : 'return false'}})}}
                               </div>
                          </div>
                        </div>
                        <div class= "checkbox minimal-red">
                            <label>
                                {{form_widget(edit_form.isActive)}}Activo
                                <span class="text-danger">{{ form_errors(edit_form.isActive)}}</span>
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>
    <div class="content-wrapper card">
      <div class="containers">
          <div class="card-body">
            <div class="row justify-content-between ">
                <div class="col-md-2 offset-md-8">
                  <a href="{{ path('usuario_index') }}"><button type="submit" class="btn btn-block btn-primary fa fa-check">&nbsp; Aceptar</button></a>
                  <br>
                </div>
                <div class="col-md-1 col-lg-2 ">
                  <a href="{{ path('usuario_index') }}"><button type="button" class="btn btn-block btn-danger fa fa-close">&nbsp; Cancelar</button></a>
                  <br>
                </div>
                  {{form_end(edit_form)}}
              </div>
             </div>
           </div>
      </div>

{% endblock %}
