
{% extends 'base.html.twig' %}



{% block body %}

    <div class="content-wrapper card">
        <div class="container">
              <div class=" p-3 mb-2 bg-color text-white ">
                         <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
                <div class="card-body ">
                  <center><h1 class="titulo">Creación de Usuario</h1></center>
                </div>
              </div>

                    {# usamos el novalidate para la validacion en el lado del servidor, importamos el componnte en user.php#}
                    <div class="card-body">
                    {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'}}) }}
                    <br>
                    <div class="row">
                       <div class="col-sm-3 col-md-6 col-lg-12">
                         <div class="input-group mb-3">
                           <div class="input-group-prepend">
                             <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                           </div>
                           {{ form_widget(form.username, { 'attr' : {'type' : 'text', 'class': 'form-control', 'placeholder' : 'UserName', 'onpaste' : 'return false'}})}}
                          <!-- text input <input type="text" onkeypress="return soloLetras(event)" onpaste="return false" class="form-control" placeholder="Nombres">-->
                            <span class="text-danger">{{ form_errors(form.username)}}</span>
                         </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3 col-md-4 col-lg-6">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                            {{ form_widget(form.nombre, { 'attr' : {'type' : 'text','onkeypress' : 'return soloLetras(event)', 'class': 'form-control', 'placeholder' : 'Nombre', 'onpaste' : 'return false'}})}}
                         <!-- <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="Fecha de nacimientos">-->
                         <span class="text-danger">{{ form_errors(form.nombre)}}</span>
                        </div>
                        </div>
                        <div class="col-sm-3 col-md-4 col-lg-6">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            {{ form_widget(form.email, { 'attr' : {'type' : 'email', 'class': 'form-control', 'placeholder' : 'Email'}})}}
                            <!--<input type="email" class="form-control" placeholder="Email">-->
                            <span class="text-danger">{{ form_errors(form.email)}}</span>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3 col-md-4 col-lg-6">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                            {{ form_widget(form.password, { 'attr' : {'type' : 'password','id':'password', 'class': 'form-control', 'placeholder' : 'password', 'onpaste' : 'return false', '':'required'}})}}
                         <!-- <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="Fecha de nacimientos">-->
                         <span class="text-danger">{{ form_errors(form.password)}}</span>
                        </div>
                        </div>
                        <div class="col-sm-3 col-md-4 col-lg-6">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            {{ form_widget(form.role, { 'attr' : {'type' : 'text', 'class': 'form-control'}})}}
                            <!--<input type="email" class="form-control" placeholder="Email">-->
                            <span class="text-danger">{{ form_errors(form.role)}}</span>
                          </div>
                        </div>
                    </div>
                    <div class= "checkbox">
                        <label>
                            {{form_widget(form.isActive)}}
                            {% if form.isActive %}Activo{% else %}Inactivo{% endif %}
                            <span class="text-danger">{{ form_errors(form.isActive)}}</span>
                        </label>
                    </div>
                    </div>
                    </div>
                    </div>

                    <div class="content-wrapper card">
                      <div class="containers">
                          <div class="card-body">

                              <div class="row justify-content-between">

                                  <div class="col-md-2 offset-md-8">
                                      <button type="submit" class="btn btn-block btn-success fa fa-check">&nbsp;Acceptar</button>
                                  </div>
                                  <div class="col-lg-2 ">
                                      <a href="{{ path('usuario_index') }}"><button type="button" class="btn btn-block btn-danger fa fa-close">&nbsp;Regresar</button></a>
                                  </div>
                                  {{form_end(form)}}

                              </div>
                             </div>
                         </div>
                         {{form_end(form)}}
                      </div>
{% endblock %}
