
{% extends 'base.html.twig' %}

{% block body %}

    <div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
        <div class="containers">
            
            <div class=" p-3 mb-2 bg-color text-white">
         <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
                <h1 class="text-center" >Usuario</h1>
            </div>

            <ul class="list-group">
                <li class="list-group-item p-3 mb-2 bg-info text-white"> <b> INFORMACIÓN DEL USUARIO</b></li>
                <li class="list-group-item">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>USERNAME:</b>        &nbsp;&nbsp;{{ usuario.username }}</li>
                <li class="list-group-item">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NOMBRE:</b>        &nbsp;&nbsp;{{ usuario.nombre }}</li>
                <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>CORREO:</b> &nbsp;&nbsp;{{ usuario.email }}</li>
                <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ROL:</b> &nbsp;&nbsp;{% if app.user.role == 'ROLE_ADMIN' %}
                                {{ 'Administrador'|trans }}
                        {% elseif app.user.role == 'ROLE_USER' %}
                                {{ 'Profesor'|trans }}
                        {% elseif app.user.role == 'ROLE_RECEP' %}
                                 {{ 'Recepcionista'|trans }}
                        {% endif %}
                <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ESTADO:</b> &nbsp;&nbsp;{% if usuario.isActive %}Activo{% else %}Inactivo{% endif %}</li>
                <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>FECHA CREADO:</b> &nbsp;&nbsp;{% if usuario.createdAt %}{{ usuario.createdAt|date('Y-m-d H:i:s') }}{% endif %}</li>
                <li class="list-group-item">&nbsp;&nbsp;<b>FECHA ACTUALIZADO:</b> &nbsp;&nbsp;{% if usuario.updatedAt %}{{ usuario.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</li>
            </ul>
            <div class="row justify-content-between">
                <div class="col-md-2 offset-md-6">
                    <td>
                        <br><br><br><br>
                        <a href="{{ path('usuario_index') }}"><button type="submit" class="btn btn-block btn-success fa fa-check">&nbsp; Aceptar</button></a>
                    </td>
                </div>
                <div class="col-md-2 ">
                    <td>
                        <br><br><br><br>
                        <a href="{{ path('usuario_edit', { 'id': usuario.id }) }} "  class="btn btn-block btn-info fa fa-edit">&nbsp; Editar</a>
                    </td>
                </div>

                <div class="col-lg-2">
                    <br><br><br><br>
                    {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-block btn-danger fa fa-close">&nbsp; Eliminar</button>
                    {{ form_end(delete_form) }}
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}
