{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
        <div class="containers">
           <div class=" p-3 mb-2 bg-color text-white" >
                     <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
             <center><h3 class="titulo">Listado de Usuarios</h3></center>
             <div class="col-md-1  offset-md-11">
               <a href="{{ path('usuario_new') }}"><img src="{{asset('vendor/imagenes/users-add-user-icon.png')}}" alt="new_user" class="iconew"></a>
             </div>
             </div>
           </div>

           <div class="card-body  table-responsive p-0">
           Total records: {{pagination.getTotalItemCount}}

                <table class=" table table-hover table-bordered">
                    <thead>
                        <tr>
                            {#<th>Id</th>#}
                            <th>Username</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            {#<th>Password</th>#}
                            <th>Role</th>
                            {#<th>Isactive</th>#}
                            <th>Createdat</th>
                            <th>Updatedat</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for usuario in pagination %}
                        <tr>
                            {#<td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>#}
                            <td>{{ usuario.username }}</td>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.email }}</td>
                            {#<td>{{ usuario.password }}</td>#}                           
                            <td>
                                    {% if usuario.role == 'ROLE_ADMIN' %}
                                        <strong>Administrador</strong></td>
                                    {% elseif usuario.role == 'ROLE_USER' %}
                                        <strong>Profesor</strong>
                                    {% elseif usuario.role == 'ROLE_RECEP' %}
                                        <strong>Recepcionista</strong>
                                    {% endif %}
                            </td>

                            {#<td>{% if usuario.isActive %}Yes{% else %}No{% endif %}</td>#}

                            <td>{% if usuario.createdAt %}{{ usuario.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{% if usuario.updatedAt %}{{ usuario.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                
                                <a href="{{ path('usuario_show', { 'id': usuario.id }) }}"> <img src="{{asset('vendor/imagenes/ver.ico')}}" alt="Ver" class="ico"></a>
                                    
                                <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}"> <img src="{{asset('vendor/imagenes/edit.ico')}}" alt="Editar" class="ico"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                {#
                <ul>
                    <li>
                        <a href="{{ path('usuario_new') }}">Create a new usuario</a>
                    </li>
                </ul>
                #}

            </div>
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->
{% endblock %}