{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
           <div class=" p-3 mb-2 bg-color text-white" >
                     <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
             <center><h3 class="titulo">Listado de Docente</h3></center>
             <div class="col-md-1  offset-md-11">
               <a href="{{ path('docente_new') }}"><img src="{{asset('vendor/imagenes/users-add-user-icon.png')}}" alt="new_user" class="iconew"></a>
             </div>
             </div>
           </div>
           <div class="card-body  table-responsive p-0">
             <table class=" table table-hover table-bordered">
               <thead>
                   <tr>
                     <th>Nombre</th>
                     <th>Edad</th>
                     <th>DUI</th>
                     <th>Teléfono</th>
                     <th>Email</th>
                     <th>Especialización</th>
                     <th>Acciones</th>
                   </tr>
               </thead>
               <tbody>
               {% for docente in pagination %}
                   <tr>
                       <td>{{ docente.nombre }} </td>
                       <td>{{ docente.edad }} </td>
                       <td>{{ docente.dui }} </td>
                       <td>{{ docente.telefono }} </td>
                       <td>{{ docente.email }} </td>
                       <td>{{ docente.especializacion }} </td>
                       <td>
                                <a href="{{ path('docente_show', { 'iddocente': docente.iddocente }) }}"> <img src="{{asset('vendor/imagenes/ver.ico')}}" alt="Ver" class="ico"></a>
                                <a href="{{ path('docente_edit', { 'iddocente': docente.iddocente }) }}"> <img src="{{asset('vendor/imagenes/edit.ico')}}" alt="Editar" class="ico"></a>
                       </td>
                   </tr>
               {% endfor %}
               </tbody>
             </table>
             <hr>
             <div class="navigation">
                  {{ knp_pagination_render(pagination) }}
             </div>
           </div>
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->
   {% endblock %}
   