{% extends 'principal.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/css/signin.css') }}">
{% endblock %}

{% block body %}
	{{ parent() }}

  <div class="cover" style="background-image: url({{ asset('vendor/imagenes/loginFont.jpg')}});">
    <div class="container">
  	<form action="{{ path('academiainscripcion_login_check') }}" method="post"  class="full-box logInForm">
  		<p class="text-center text-muted"><i class="zmdi zmdi-account-circle zmdi-hc-5x"></i></p>
  		<p class="text-center text-muted text-uppercase">{{'Inicia sesión con tu cuenta'|trans}}</p>
      {% if error %}
      <div class="text-danger">
      </div>
      {% endif %}
  		<div class="form-group label-floating">
  		  <label class="control-label" for="UserEmail">{{'Usuario'|trans}}:</label>
        <input type="text" id="username" class="form-control" name="_username" required autofocus />

  		  <p class="help-block">Escribe tú Usuario</p>
  		</div>
  		<div class="form-group label-floating">
  		  <label class="control-label" for="UserPass">{{'Contraseña'|trans}}</label>
        <input type="password" id="password" class="form-control" name="_password" required />
  		  <p class="help-block">Escribe tú contraseña</p>
  		</div>
  		<div class="form-group text-center">
        <input type="hidden" name="_target_path" value="academiainscripcion_homepage" />
  			<input type="submit" value="Iniciar sesión" class="btn btn-raised btn-danger">
  		</div>
  	</form>

  </div>
{% endblock %}
